@media screen and (min-width: 800px)
{

/*400   */
main article img.small {
    display: none;
    max-width: 100%;
      padding-top: 10px;
    padding-bottom: 10px;
    
      }

      /*     700  */
main article img.med {
display: none;
max-width: 100%;
padding-top: 10px;
padding-bottom: 10px;

}

      /*    1000px   */
main article img.large {
display: block;
max-width: 100%;
padding-top: 10px;
padding-bottom: 10px;


    }
    article.inner{
        display: grid;    
          }
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellow;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
  article.inner{
    font-size:13px;
    
  }
  article.forecast {
    display: none;
   
    
  }
}
