@media screen and (min-width: 300px)
{

/*400   */
main article img.small {
    display: block;
    max-width: 100%;
      padding-top: 10px;
    padding-bottom: 10px;
    
      }
      /*     700  */
main article img.med {
display: none;
max-width: 100%;
padding-top: 10px;
padding-bottom: 10px;

}
      /*    1000px   */
main article img.large {
display: none;
max-width: 100%;
padding-top: 10px;
padding-bottom: 10px;
    }

    article.inner
    {
    display: none;
    grid-template-columns: auto auto;
        font-size: 15px;
        width: 150px;
        float:left;
        top: -150px;
        right: -30px;
        position: relative;
    }

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* needed because of state in small view */
		flex: 1 1 100%;
	}
	.navigation li a {
		color: yellow;
		text-align: center;
	}
	
	.navigation li:first-child {
		display: none;
	}
  article.inner{
    font-size:13px;
    
  }
  article.forecastholder {
    display: none;
   
    
  }
}