
@media screen and (max-width: 820px) and (min-width: 446px) 
{
    .grid{
        display: grid;
		grid-template-columns: 1fr 1fr;}
		
		.gridless{
			display: grid;
			grid-template-columns: 1fr 1fr;}
			.meet{
				display: grid;
				grid-template-columns: 1fr 1fr;}

}
