@media (min-width: 1211px)
{
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size: 35px;
    overflow: auto;}
    
	
		.gridless{
			display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-size: 35px;}
    main{
        background-color: blueviolet;
    }
}