


main{
    display: flex;
    flex-direction: row;
    background-color: #d5aaff;
}

.small{
    display: flex;
    flex-direction: column;

}

.small > img{
margin: 20px;
width: 300px;


}
.med{
    display: flex;
    flex-direction: column;

}
.med > img{
    margin: 10px;
    width: 500px;

    
    }
    .large{
        display: flex;
        flex-direction: column;
    
    }
    .large > img{
        margin: 10px;
        width: 800px;
        
        }

header,
footer {
	background-color: #00BFFF;
	display: flex;
	flex-flow: column;
	align-items: center;
  padding: 10px;
  width: 100%;
}
body {
	background-color: AliceBlue;
	font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


header,
nav,
main,
footer {
	max-width: auto;
	margin: 0 auto;
}
b {
  font-size: 22px;
    letter-spacing: 8px;

}
nav {
	background-color: blue;
}
.navigation {
    display: flex;
    flex-direction: row;
	margin: 0 ;
	list-style: none;
	padding: 0;
	background-color: blue;
	text-align: center;
	box-shadow: 0 5px 15px #00BFFF;
}

.navigation a {
	display: block;
	color: #fff;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}
.navigation a:hover {
	color: #000;
	background-color: #fff;
	
}


